/* 
    Created on : 13/11/2015, 22:34:25
    Author     : Raquel Day
*/

#topo {
    background-color: #017338;
    color: whitesmoke;
    height: 250px;
}

 body {
      position: relative; 
  }
  
  .jumbotron{
      margin:0;
  }
  
  .affix {
      top:0;
      width: 100%;
      z-index: 9999 !important;
  }
  .navbar {
      margin-bottom: 0px;
      border-radius: 0;
      background-color: #115135;
      
  }

  .affix ~ .container-fluid {
     position: relative;
     top: 50px;
  }
  #inicio {padding-top:50px;height:500px;color: #2E2E2E; background-color: #1E88E5;}
  #cursos {padding-top:50px;height:500px;color: #2E2E2E; background-color: white;}
  #noticias {padding-top:50px;height:500px;color: #2E2E2E; background-color: white;}
  #fotos {padding-top:50px;height:500px;color: #2E2E2E; background-color: white;}
  #videos {padding-top:50px;height:500px;color: #2E2E2E; background-color: white;}
  #contato {padding-top:50px;height:500px;color: #2E2E2E; background-color: white;}
  #localização {padding-top:50px;height:500px;color: #2E2E2E; background-color: white
  ;}
  
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 80%; height: 500px;
      margin: auto; 
  }
  